.hello {
    align-items: center;
    background-color: #B30DAD;
    background-image: linear-gradient(135deg, #B30DAD, #D942D1);
}

.green {
    background-image: linear-gradient(135deg, #09a77d, #12E3BC);
}

.blue {
    background-image: linear-gradient(135deg, #2e15ce, #8B7DFF);
}

.skyblue {
    background-image: linear-gradient(135deg, #389AFF, #68B3FF);
}