/* * {
    background-color: #F2F3F5;
} */

.hello {
    align-items: center;
    background-color: #B30DAD;
    background-image: linear-gradient(135deg, #B30DAD, #D942D1);
}

.green {
    background-image: linear-gradient(135deg, #09a77d, #12E3BC);
}

.blue {
    background-image: linear-gradient(135deg, #2e15ce, #8B7DFF);
}

.skyblue {
    background-image: linear-gradient(135deg, #389AFF, #68B3FF);
}

.layer {
    border: 1px solid #09a77d;
}

.layer:hover {
    background-color: #B3EEDB;
}

.yellow {
    background-image: url(/Image/Card-background-overlay-Golden.avif), linear-gradient(135deg, rgb(218, 162, 65) 100%, rgb(184, 115, 29) 100%);
    background-size: cover;
    background-position: center;
    height: 300px;
}
.light-blue {
    background-image: url(/Image/Card-background-overlay-Best+Blockchains.avif), linear-gradient(283deg, rgb(10, 35, 219) 100%, rgb(61, 150, 255) 100%);
    background-size: cover;
    background-position: center;
    height: 300px;
}
.blue {
    background-image: url(/Image/Card-background-overlay-CryptoBanter.avif), linear-gradient(283deg, rgb(10, 35, 219) 100%, rgb(61, 150, 255) 100%);
    background-size: cover;
    background-position: center;
    height: 300px;
}
.purple{
    background-image: url(/Image/game.avif), linear-gradient(rgb(94, 27, 97) 0%, rgb(81, 26, 84) 100%);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.holder {
    position: relative;
}

.held {
    position: relative;
    z-index: 1; 
}

.why {
    background-image: url(/Image/Thematics-Why.avif);
    background-size: cover;
    background-position: center;
    /* height: 250px; */
}
.why1 {
    background-image: url(/Image/Thematics-How.avif);
    background-size: cover;
    background-position: center;
    /* height: 250px; */
}

.autoinvest {
    background-image: url(/images/invest-img1.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
}

.phone{
    list-style: numbers;
}

html,body {
    overflow-x: hidden;
}

/* .res {
    display: none; transition: max-height 0.3s ease-in-out; max-height: 0; overflow: hidden; 
} */

/* .res.show { max-height: 200px; } */

.faq.active .res {
    display: block;
    transition: .5s;
    height: 100px;
}

.faq.active .que i {
    transform: rotate(180deg);
}

.hover-move-up {
    transition: transform 0.3s ease;
}

.hover-move-up:hover {
    transform: translateY(-10px);
}

.scale-up {
    transition: transform 0.5s ease;
    overflow: hidden;
}

.scale-up img {
    transition: transform 0.5s ease;
}

.scale-up:hover img {
    transform: scale(1.1); 
    transition: transform 0.5s ease;
    border-top-left-radius: 12px;
    border-top-right-radius: px;
}

.thematicsActive {
    background-color: #E5F9F3;
    color: #01C38D;
    font-weight: bold;
}

.swissBorgActive {
    background-color: #E5F9F3;
    color: #01C38D;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.z-indexed {
    z-index: 400;
}

#menuDisplay{
    top: 0;
}

.high:hover h1 {
    color: #01C38D; /* Change the color of the h1 text to green */
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Add a smooth transition */
}

@media (max-width: 767px) {
    #checker {
        display: none;
    }

    #container {
        display: none;
    }
    #container1 {
        display: none;
    }
}

.glass-effect {
    backdrop-filter: blur(10px); /* Apply background blur */
    background-color: rgba(25, 30, 41, 0.5); /* Set background color with opacity */
}

